.custom-button {
    --p-button-primary-background: var(--secondary-color);
    --p-button-primary-border-color: var(--secondary-color);
    --p-button-primary-hover-background: var(--hover-color);
    --p-button-primary-hover-border-color: var(--hover-color);
    --p-button-primary-focus-ring-color: var(--secondary-color);
    --p-button-primary-active-background: color-mix(in srgb, var(--hover-color) 80%, black 20%);
    --p-button-primary-active-border-color: color-mix(in srgb, var(--hover-color) 80%, black 20%);
}

::ng-deep .p-tooltip {
    --p-tooltip-background: var(--primary-color);
}