<p-toast class="custom-toast" position="bottom-right"/>
<div class="flex flex-column align-items-center justify-content-center p-4">
    <h2>{{pageName}}</h2>
    <p-stepper [value]="1" [linear]="true" class="custom-stepper">
        <p-step-list>
            <p-step [value]="1">General Information</p-step>
            <p-step [value]="2">Material Content</p-step>
            <p-step [value]="3">Additional Information</p-step>
            <p-step [value]="4">User Information</p-step>
        </p-step-list>
        <p-step-panels>
            <p-step-panel [value]="1">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-column gap-3">
                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel">
                                <p-iconfield>
                                    <input pInputText id="title" autocomplete="off" class="w-full custom-input" 
                                        [class.ng-invalid]="errorMap.get('title') != undefined" [class.ng-dirty]="errorMap.get('title') != undefined" 
                                        [(ngModel)]="material.title"/>
                                    <p-inputicon class="pi pi-pencil" [style]="errorMap.get('title') != undefined ? 'color: var(--danger-color)' : ''" />
                                </p-iconfield>
                                <label for="title">Title *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('title')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('title')}}</p>
                        </div>
    
                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel">
                                <p-iconfield>
                                    <input pInputText id="publisher" autocomplete="off" class="w-full custom-input" 
                                        [class.ng-invalid]="errorMap.get('publisher') != undefined" [class.ng-dirty]="errorMap.get('publisher') != undefined" 
                                        [(ngModel)]="material.publisher"/>
                                    <p-inputicon class="pi pi-building-columns" [style]="errorMap.get('publisher') != undefined ? 'color: var(--danger-color)' : ''"/>
                                </p-iconfield>
                                <label for="publisher">Publisher *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('publisher')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('publisher')}}</p>
                        </div>
    
                        <div>
                            <p-floatlabel variant="on" class="w-full custom-floatlabel">
                                <p-datepicker inputId="created" showIcon iconDisplay="input" dateFormat="dd/mm/yy" 
                                    [(ngModel)]="material.created" fluid class="custom-input custom-datepicker"
                                    [class.ng-invalid]="errorMap.get('created') != undefined" [class.ng-dirty]="errorMap.get('created') != undefined"
                                    [class.custom-datepicker-icon-error]="errorMap.get('created') != undefined"/>
                                <label for="created">Created *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('created')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('created')}}</p>
                        </div>

                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel" [class.invalid-floatlabel]="errorMap.get('language') != undefined">
                                <p-select [options]="languageSelector.tags" [(ngModel)]="material.language"  inputId="lang" 
                                    class="w-full custom-select" [checkmark]="true" [class.invalid-select]="errorMap.get('language') != undefined"/>
                                <label for="lang">{{languageSelector.label}} *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('language')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('language')}}</p>
                        </div>
    
                        <p-floatlabel variant="on" class="custom-floatlabel">
                            <textarea id="description" pTextarea [(ngModel)]="material.description"
                                    rows="4" class="w-full custom-textarea"></textarea>
                            <label for="description">Description</label>
                        </p-floatlabel>
    
                        <text-chips [fieldName]="'Author/s'" [(chips)]="material.creators"></text-chips>
                    </div>
                    <div class="flex max-w-full flex-wrap mt-3">
                        <p-button class="custom-button ml-auto" label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(2)" />
                    </div>
                </ng-template>
            </p-step-panel>
    
            <p-step-panel [value]="2">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-column gap-3">
                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel" [class.invalid-floatlabel]="errorMap.get('type') != undefined">
                                <p-select [options]="typeSelector.tags" [(ngModel)]="material.materialType" inputId="type" 
                                    class="w-full custom-select" [checkmark]="true" [class.invalid-select]="errorMap.get('type') != undefined"/>
                                <label for="type">{{typeSelector.label}} *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('type')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('type')}}</p>
                        </div>
                        
                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel" [class.invalid-floatlabel]="errorMap.get('format') != undefined">
                                <p-multiselect [options]="formatSelector.tags" [(ngModel)]="material.materialFormat" inputId="format"
                                    class="w-full custom-multiselect" [showClear]="true" [maxSelectedLabels]="1" 
                                    [class.invalid-multiselect]="errorMap.get('format') != undefined"/>
                                <label for="format">{{formatSelector.label}} *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('format')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('format')}}</p>
                        </div>

                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel" [class.invalid-floatlabel]="errorMap.get('educationLevel') != undefined">
                                <p-multiselect [options]="eqfSelector.tags" [(ngModel)]="material.educationLevel" inputId="eqf" 
                                    class="w-full custom-multiselect" [showClear]="true" [maxSelectedLabels]="1"
                                    [class.invalid-multiselect]="errorMap.get('educationLevel') != undefined"/>
                                <label for="eqf">{{eqfSelector.label}} *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('educationLevel')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('educationLevel')}}</p>
                        </div>


                        <p-floatlabel variant="on" class="custom-floatlabel">
                            <p-iconfield>
                                <input pInputText id="audience" autocomplete="off" class="w-full custom-input" [(ngModel)]="material.audience"/>
                                <p-inputicon class="pi pi-users" />
                            </p-iconfield>
                            <label for="audience">Target Audience</label>
                        </p-floatlabel>

                        <p-floatlabel variant="on" class="custom-floatlabel">
                            <textarea id="assesment" pTextarea [(ngModel)]="material.assesment"
                                    rows="4" class="w-full custom-textarea"></textarea>
                            <label for="assesment">Type of Assesment</label>
                        </p-floatlabel>

                        <text-chips [fieldName]="'Prerequisites'" [icon]="'pi pi-list-check'" [(chips)]="material.prerequisites"></text-chips>

                        <text-chips [fieldName]="'Learning Outcomes'" [icon]="'pi pi-graduation-cap'" [(chips)]="material.learningOutcomes"></text-chips>

                        <text-chips [fieldName]="'Table of Content'" [icon]="'pi pi-book'" [(chips)]="material.tableOfContents"></text-chips>
                    </div>
                    <div class="flex justify-content-between mt-3">
                        <p-button class="custom-secondary-button" label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)" />
                        <p-button class="custom-button" label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)" />
                    </div>
                </ng-template>
            </p-step-panel>
    
            <p-step-panel [value]="3">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-column gap-3">
                        <div>
                            <p-floatlabel variant="on" class="w-full custom-floatlabel">
                                <p-iconfield>
                                    <p-inputnumber id="duration" [min]="0" [useGrouping]="false" suffix=" Hours"
                                        class="custom-input" [(ngModel)]="material.SizeOrDuration" fluid
                                        [class.ng-invalid]="errorMap.get('SizeOrDuration') != undefined" [class.ng-dirty]="errorMap.get('SizeOrDuration') != undefined"/>
                                    <p-inputicon class="pi pi-clock" [style]="errorMap.get('SizeOrDuration') != undefined ? 'color: var(--danger-color)' : ''"/>
                                </p-iconfield>
                                <label for="duration">Duration *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('SizeOrDuration')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('SizeOrDuration')}}</p>
                        </div>

                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel" [class.invalid-floatlabel]="errorMap.get('license') != undefined">
                                <p-select [options]="licenseSelector.tags" [(ngModel)]="material.license"
                                    class="w-full custom-select" [checkmark]="true" inputId="license" [class.invalid-select]="errorMap.get('license') != undefined"/>
                                <label for="license">{{licenseSelector.label}} *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('license')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('license')}}</p>
                        </div>

                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel">
                                <p-iconfield>
                                    <input pInputText id="url" autocomplete="off" class="w-full custom-input" [(ngModel)]="material.url"
                                        [class.ng-invalid]="errorMap.get('source') != undefined" [class.ng-dirty]="errorMap.get('source') != undefined" />
                                    <p-inputicon class="pi pi-link" [style]="errorMap.get('source') != undefined ? 'color: var(--danger-color)' : ''"/>
                                </p-iconfield>
                                <label for="url">Source *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('source')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('source')}}</p>
                        </div>

                        <p-floatlabel variant="on" class="custom-floatlabel">
                            <p-iconfield>
                                <input pInputText id="certification" autocomplete="off" class="w-full custom-input" [(ngModel)]="material.certification" />
                                <p-inputicon class="pi pi-trophy" />
                            </p-iconfield>
                            <label for="certification">Certification</label>
                        </p-floatlabel>

                        <div>
                            <p-fileupload maxFileSize="1000000" mode="advanced" accept="image/*" customUpload="true" (uploadHandler)="onFileSelected($event)"
                                class="custom-button custom-secondary-button custom-fileupload" chooseLabel="Choose Image" [chooseButtonProps]="{size: 'small'}"
                                [uploadButtonProps]="{size: 'small', severity: 'secondary'}" [cancelButtonProps]="{size: 'small', severity: 'secondary'}">
                                <ng-template *ngIf="material.image != ''" #content>
                                    <p-divider class="my-2"></p-divider>
                                    <div class="flex flex-column gap-2 align-items-center">
                                        <div>Current Image</div>
                                        <img [src]="material.image" class="w-full max-w-30rem">
                                    </div>
                                </ng-template>
                            </p-fileupload>
                        </div>

                        <text-chips [fieldName]="'Subjects'" [icon]="'pi pi-tags'" [(chips)]="material.subject"></text-chips>

                        <div class="custom-border p-2" style="color: #64748b;">
                            <bokModal [(selectedConcepts)]="material.concepts"></bokModal>
                        </div>

                    </div>
                    <div class="flex justify-content-between mt-3">
                        <p-button class="custom-secondary-button" label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(2)" />
                        <p-button class="custom-button" label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(4)" />
                    </div>
                </ng-template>
            </p-step-panel>

            <p-step-panel [value]="4">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-column gap-3">
                        <p-floatlabel variant="on" class="custom-floatlabel">
                            <p-iconfield>
                                <input pInputText id="user" autocomplete="off" class="w-full custom-input" [ngModel]="getUserName()" disabled/>
                                <p-inputicon class="pi pi-user" />
                            </p-iconfield>
                            <label for="user">User *</label>
                        </p-floatlabel>

                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel" [class.invalid-floatlabel]="errorMap.get('organization') != undefined">
                                <p-select inputId="org" [options]="organizationSelector.tags" [ngModel]="material.orgId == undefined ? undefined : {value: material.orgId, label: material.orgName}" (ngModelChange)="loadDivisions($event)"
                                    class="w-full custom-select" optionLabel="label" [checkmark]="true" 
                                    [class.invalid-select]="errorMap.get('organization') != undefined"/>
                                <label for="org">{{organizationSelector.label}} *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('organization')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('organization')}}</p>
                        </div>

                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel" [class.invalid-floatlabel]="errorMap.get('division') != undefined">
                                <p-select [options]="divisionSelector.tags" [(ngModel)]="material.division" class="w-full custom-select" 
                                    [disabled]="divisionSelector.tags.length == 0" [checkmark]="true" inputId="division"
                                    [class.invalid-select]="errorMap.get('division') != undefined"/>
                                <label for="division">{{divisionSelector.label}} *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('division')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('division')}}</p>
                        </div>
                        
                    </div>
                    <div class="flex justify-content-between mt-3">
                        <p-button class="custom-secondary-button" label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(3)" />
                        <p-button class="custom-button" label="Submit" (onClick)="submitMaterial()"/>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-panels>
    </p-stepper>
</div>