.custom-input {
    --p-inputtext-focus-border-color: var(--hover-color);
    --p-inputtext-hover-border-color: var(--hover-color);
}

.custom-floatlabel {
    --p-floatlabel-focus-color: var(--hover-color);
}

.textarea-iconfield {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.textarea-iconfield .p-inputicon {
    position: absolute;
    top: 17px;
    left: 11px;
    z-index: 1;
}

.custom-textarea {
    padding-left: 2.5rem;
}

.custom-textarea:hover,
.custom-textarea:focus {
    border-color: var(--hover-color) !important;
}

.custom-button {
    --p-button-primary-color: white;
    --p-button-primary-background: var(--secondary-color);
    --p-button-primary-border-color: var(--secondary-color);
    --p-button-primary-hover-background: var(--hover-color);
    --p-button-primary-hover-border-color: var(--hover-color);
    --p-button-primary-active-background: color-mix(in srgb, var(--hover-color) 80%, black 20%);
    --p-button-primary-active-border-color: color-mix(in srgb, var(--hover-color) 90%, black 10%);
}

.custom-secondary-button{
    --p-button-secondary-color: color-mix(in srgb, var(--primary-color) 80%, white 20%);
    --p-button-secondary-hover-color: color-mix(in srgb, var(--primary-color) 90%, white 10%);
    --p-button-secondary-active-color: var(--primary-color);
}

.custom-stepper {
    --p-stepper-step-number-active-color: var(--hover-color);
    --p-stepper-step-title-active-color: var(--hover-color);
    --p-stepper-separator-active-background: var(--hover-color);
}