<p-toast class="custom-toast" position="bottom-right"/>
<div class="flex flex-column align-items-center justify-content-center p-4">
    <h2>{{pageName}}</h2>
    <p-stepper [value]="1" [linear]="true" class="custom-stepper">
        <p-step-list>
            <p-step [value]="1">General Information</p-step>
            <p-step [value]="2">Material Content</p-step>
            <p-step [value]="3">Additional Information</p-step>
            <p-step [value]="4">User Information</p-step>
        </p-step-list>
        <p-step-panels>
            <p-step-panel [value]="1">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-column gap-3">
                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel">
                                <p-iconfield>
                                    <input pInputText id="title" autocomplete="off" class="w-full custom-input" 
                                        [class.ng-invalid]="errorMap.get('title') != undefined" [class.ng-dirty]="errorMap.get('title') != undefined" 
                                        [(ngModel)]="material.title" pTooltip="A name given to the resource" 
                                        tooltipPosition="right" showDelay="200" hideDelay="200" maxlength="200"/>
                                    <p-inputicon class="pi pi-pencil" [style]="errorMap.get('title') != undefined ? 'color: var(--danger-color)' : ''" />
                                </p-iconfield>
                                <label for="title">Title *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('title')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('title')}}</p>
                        </div>
    
                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel">
                                <p-iconfield>
                                    <input pInputText id="publisher" autocomplete="off" class="w-full custom-input" 
                                        [class.ng-invalid]="errorMap.get('publisher') != undefined" [class.ng-dirty]="errorMap.get('publisher') != undefined" 
                                        [(ngModel)]="material.publisher" pTooltip="Enter the name of the organization or company making the resource available or organizing the training activity" 
                                        tooltipPosition="right" showDelay="200" hideDelay="200" maxlength="100"/>
                                    <p-inputicon class="pi pi-building-columns" [style]="errorMap.get('publisher') != undefined ? 'color: var(--danger-color)' : ''"/>
                                </p-iconfield>
                                <label for="publisher">Provided By *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('publisher')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('publisher')}}</p>
                        </div>

                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel">
                                <p-iconfield>
                                    <input pInputText id="url" autocomplete="off" class="w-full custom-input" [(ngModel)]="material.url"
                                        [class.ng-invalid]="errorMap.get('url') != undefined" [class.ng-dirty]="errorMap.get('url') != undefined" 
                                        pTooltip="The address for accessing the resource in the form of a URL" type="url"
                                        tooltipPosition="right" showDelay="200" hideDelay="200" maxlength="1000"/>
                                    <p-inputicon class="pi pi-link" [style]="errorMap.get('url') != undefined ? 'color: var(--danger-color)' : ''"/>
                                </p-iconfield>
                                <label for="url">URL *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('url')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('url')}}</p>
                        </div>
    
                        <div>
                            <p-floatlabel variant="on" class="w-full custom-floatlabel">
                                <p-datepicker inputId="created" showIcon iconDisplay="input" dateFormat="dd/mm/yy" 
                                    [(ngModel)]="material.created" fluid class="custom-input custom-datepicker"
                                    [class.ng-invalid]="errorMap.get('created') != undefined" [class.ng-dirty]="errorMap.get('created') != undefined"
                                    [class.custom-datepicker-icon-error]="errorMap.get('created') != undefined"
                                    pTooltip="Enter the date when the resource was originally created/finished (not when it was published, modified, or uploaded)" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200"/>
                                <label for="created">Date Created *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('created')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('created')}}</p>
                        </div>

                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel" [class.invalid-floatlabel]="errorMap.get('subject') != undefined">
                                <p-multiselect [options]="subjectSelector.tags" [(ngModel)]="material.subject" inputId="subject"
                                    class="w-full custom-multiselect" [showClear]="true" [maxSelectedLabels]="1" 
                                    [class.invalid-multiselect]="errorMap.get('subject') != undefined"
                                    pTooltip="Use the following knowledge areas from the BoK to define the general topic or field of the resource" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200"/>
                                <label for="subject">{{subjectSelector.label}} *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('subject')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('subject')}}</p>
                        </div>

                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel" [class.invalid-floatlabel]="errorMap.get('language') != undefined">
                                <p-select [options]="languageSelector.tags" [(ngModel)]="material.language"  inputId="lang" 
                                    class="w-full custom-select" [checkmark]="true" [class.invalid-select]="errorMap.get('language') != undefined"
                                    pTooltip="The language of the resource" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200"/>
                                <label for="lang">{{languageSelector.label}} *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('language')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('language')}}</p>
                        </div>

                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel">
                                <textarea id="description" pTextarea [(ngModel)]="material.description"
                                    [class.ng-invalid]="errorMap.get('description') != undefined" [class.ng-dirty]="errorMap.get('description') != undefined"
                                    rows="4" class="w-full custom-textarea m-0"
                                    pTooltip="A detailed overview of the resource providing context, purpose and structure" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200" maxlength="2000"></textarea>
                                <div class="textarea-length" [style]="errorMap.get('description') != undefined ? 'color: var(--danger-color)' : ''">
                                    <span>{{material.description.length + ' '}}</span>
                                    <span>/ 2000</span>
                                </div>
                                <label for="description">Description *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('description')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('description')}}</p>
                        </div>
    
                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel">
                                <textarea id="abstract" pTextarea [(ngModel)]="material.abstract"
                                    [class.ng-invalid]="errorMap.get('abstract') != undefined" [class.ng-dirty]="errorMap.get('abstract') != undefined"
                                    rows="2" class="w-full custom-textarea m-0" 
                                    pTooltip="A concise version of the description focused on the core or essential aspects of the resource" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200" maxlength="500"></textarea>
                                <div class="textarea-length" [style]="errorMap.get('abstract') != undefined ? 'color: var(--danger-color)' : ''">
                                    <span>{{material.abstract.length + ' '}}</span>
                                    <span>/ 500</span>
                                </div>
                                <label for="abstract">Abstract *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('abstract')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('abstract')}}</p>
                        </div>

                        <div>
                            <text-chips [fieldName]="'Creator/s *'" [(chips)]="material.creators"
                                    [error]="errorMap.get('creators') != undefined" 
                                    pTooltip="Please fill in with the author or authors" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200"></text-chips>
                            <p *ngIf="errorMap.get('creators')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('creators')}}</p>
                        </div>
                    </div>
                    <div class="flex justify-content-between mt-3">
                        <p-button class="custom-secondary-button" label="Return to Homepage" severity="secondary" icon="pi pi-arrow-left" (onClick)="returnToHomepage()" />
                        <p-button class="custom-button" label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(2)" />
                    </div>
                </ng-template>
            </p-step-panel>
    
            <p-step-panel [value]="2">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-column gap-3">
                        <div>
                            <p-floatlabel variant="on" class="w-full custom-floatlabel">
                                <p-iconfield>
                                    <p-inputnumber id="workload" [min]="0" [useGrouping]="false" suffix=" ECTS"
                                        [class.ng-invalid]="errorMap.get('workload') != undefined" [class.ng-dirty]="errorMap.get('workload') != undefined" 
                                        class="custom-input" [(ngModel)]="material.workload" fluid tooltipPosition="right" showDelay="200" hideDelay="200"
                                        pTooltip="Amount of time expected to invest in order to meet the defined learning outcomes, quantified using ECTS"/>
                                    <p-inputicon class="pi pi-clock"/>
                                </p-iconfield>
                                <label for="workload">Workload *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('workload')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('workload')}}</p>
                        </div>
                        
                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel" [class.invalid-floatlabel]="errorMap.get('type') != undefined">
                                <p-multiselect [options]="typeSelector.tags" [(ngModel)]="material.materialType" inputId="type" 
                                    class="w-full custom-multiselect" [showClear]="true" [maxSelectedLabels]="1" [class.invalid-multiselect]="errorMap.get('type') != undefined"
                                    pTooltip="Select one or more types that best describe the resource" tooltipPosition="right" showDelay="200" hideDelay="200"/>
                                <label for="type">{{typeSelector.label}} *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('type')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('type')}}</p>
                        </div>
                        
                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel" [class.invalid-floatlabel]="errorMap.get('interactivityType') != undefined">
                                <p-select [options]="interactivityTypeSelector.tags" [(ngModel)]="material.interactivityType" inputId="interactivityType"
                                    class="w-full custom-select" [checkmark]="true"
                                    [class.invalid-select]="errorMap.get('interactivityType') != undefined"
                                    pTooltip="Select the main mode of learning through which the resource is intended to be used. This refers to how learners engage with the material" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200"/>
                                <label for="interactivityType">{{interactivityTypeSelector.label}} *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('interactivityType')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('interactivityType')}}</p>
                        </div>

                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel" [class.invalid-floatlabel]="errorMap.get('educationLevel') != undefined">
                                <p-multiselect [options]="eqfSelector.tags" [(ngModel)]="material.educationLevel" inputId="eqf" 
                                    class="w-full custom-multiselect" [showClear]="true" [maxSelectedLabels]="1"
                                    [class.invalid-multiselect]="errorMap.get('educationLevel') != undefined"
                                    pTooltip="European Qualifications Framework code" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200"/>
                                <label for="eqf">{{eqfSelector.label}} *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('educationLevel')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('educationLevel')}}</p>
                        </div>

                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel" [class.invalid-floatlabel]="errorMap.get('license') != undefined">
                                <p-select [options]="licenseSelector.tags" [(ngModel)]="material.license"
                                    class="w-full custom-select" [checkmark]="true" inputId="license" [class.invalid-select]="errorMap.get('license') != undefined"
                                    pTooltip="License agreement (most commonly CC-BY-SA)" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200"/>
                                <label for="license">{{licenseSelector.label}} *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('license')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('license')}}</p>
                        </div>

                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel" [class.invalid-floatlabel]="errorMap.get('audience') != undefined">
                                <p-multiselect [options]="audienceSelector.tags" [(ngModel)]="material.audience" inputId="audience"
                                    class="w-full custom-multiselect" [showClear]="true" [maxSelectedLabels]="1" 
                                    [class.invalid-multiselect]="errorMap.get('audience') != undefined"
                                    pTooltip="The intended participants for the resource" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200"/>
                                <label for="audience">{{audienceSelector.label}} *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('audience')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('audience')}}</p>
                        </div>

                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel" [class.invalid-floatlabel]="errorMap.get('assessment') != undefined">
                                <p-multiselect [options]="assessmentSelector.tags" [(ngModel)]="material.assessment" inputId="assessment"
                                    class="w-full custom-multiselect" [showClear]="true" [maxSelectedLabels]="1" 
                                    [class.invalid-multiselect]="errorMap.get('assessment') != undefined"
                                    pTooltip="The methods used to evaluate the learner's achievement of the learning outcomes" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200"/>
                                <label for="assessment">{{assessmentSelector.label}} *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('assessment')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('assessment')}}</p>
                        </div>

                        <div>
                            <text-chips [fieldName]="'Learning Outcomes *'" [icon]="'pi pi-graduation-cap'" [(chips)]="material.learningOutcomes"
                                    [error]="errorMap.get('learningOutcomes') != undefined" 
                                    pTooltip="The specific skills, knowledge, or competencies participants are expected to gain by the end of the resource" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200"></text-chips>
                            <p *ngIf="errorMap.get('learningOutcomes')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('learningOutcomes')}}</p>
                        </div>

                        <div>
                            <div class="custom-border p-2" style="color: #64748b;" pTooltip="List of BoK concepts addressed in the resource" 
                                tooltipPosition="right" showDelay="200" hideDelay="200" 
                                [style.border-color]="errorMap.get('concepts') != undefined ? 'var(--danger-color)' : '' ">
                                <bokModal [(selectedConcepts)]="material.concepts" [label]="'Covered BoK Concepts *'"
                                    [style.color]="errorMap.get('concepts') != undefined ? 'var(--danger-color)' : '' "></bokModal>
                            </div>
                            <p *ngIf="errorMap.get('concepts')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('concepts')}}</p>
                        </div>
                    </div>
                    <div class="flex justify-content-between mt-3">
                        <p-button class="custom-secondary-button" label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)" />
                        <p-button class="custom-button" label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)" />
                    </div>
                </ng-template>
            </p-step-panel>
    
            <p-step-panel [value]="3">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-column gap-3">
                        <p-floatlabel variant="on" class="custom-floatlabel">
                            <textarea id="source" pTextarea [(ngModel)]="material.source"
                                    rows="2" class="w-full custom-textarea m-0" 
                                    pTooltip="Provide a brief reference to the origin or basis of the resource" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200" maxlength="500"></textarea>
                            <div class="textarea-length">
                                <span>{{(material.source?.length || 0) + ' '}}</span>
                                <span>/ 500</span>
                            </div>
                            <label for="source">Source/s</label>
                        </p-floatlabel>

                        <text-chips [fieldName]="'Contributor/s'" [(chips)]="material.contributors" 
                                    pTooltip="List any individuals or organizations that contributed to the creation or development of the resource" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200"></text-chips>
                        
                        <text-chips [fieldName]="'Prerequisites'" [icon]="'pi pi-list-check'" [(chips)]="material.prerequisites"
                                    pTooltip="Prerequisites describe the knowledge, skills, qualifications, or experiences that a learner is expected to have before starting this learning activity" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200"></text-chips>

                        <text-chips [fieldName]="'Table of Content'" [icon]="'pi pi-book'" [(chips)]="material.tableOfContents"
                                    pTooltip=" Provide the main structural elements of the resource. This may include chapter titles, lesson breakdowns, or thematic sections" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200"></text-chips>

                        <div>
                            <p-fileupload #fileUpload maxFileSize="1000000" mode="advanced" accept="image/*" customUpload="true" auto
                                class="custom-button custom-secondary-button custom-fileupload" (uploadHandler)="onFileSelected($event); fileUpload.clear();"
                                pTooltip="Image to be displayed in the Training Catalog with this resource" 
                                tooltipPosition="right" showDelay="200" hideDelay="200">
                                <ng-template #header let-chooseCallback="chooseCallback">
                                    <div class="flex flex-wrap gap-2">
                                        <p-button size="small" label="Choose Image" icon="pi pi-plus" (onClick)="fileUpload.choose()" />
                                        <p-button severity="secondary" size="small" label="Delete Image" icon="pi pi-times" (onClick)="onFileDeleted()" />
                                    </div>
                                </ng-template>
                                <ng-template *ngIf="material.image != '' || uploadedImage" #content>
                                    <p-divider class="my-2"></p-divider>
                                    <div class="flex flex-column gap-2 align-items-center">
                                        <div>Current Image</div>
                                        <img [src]="uploadedImageB64 ?? material.image" class="w-full max-w-30rem">
                                    </div>
                                </ng-template>
                            </p-fileupload>
                        </div>
                    </div>
                    <div class="flex justify-content-between mt-3">
                        <p-button class="custom-secondary-button" label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(2)" />
                        <p-button class="custom-button" label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(4)" />
                    </div>
                </ng-template>
            </p-step-panel>

            <p-step-panel [value]="4">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-column gap-3">
                        <p-floatlabel variant="on" class="custom-floatlabel">
                            <p-iconfield>
                                <input pInputText id="user" autocomplete="off" class="w-full custom-input" [ngModel]="getUserName()" disabled
                                    pTooltip="User registering the resource" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200"/>
                                <p-inputicon class="pi pi-user" />
                            </p-iconfield>
                            <label for="user">User *</label>
                        </p-floatlabel>

                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel" [class.invalid-floatlabel]="errorMap.get('organization') != undefined">
                                <p-select inputId="org" [options]="organizationSelector.tags" [ngModel]="material.orgId == undefined ? undefined : {value: material.orgId, label: material.orgName}" (ngModelChange)="loadDivisions($event)"
                                    class="w-full custom-select" optionLabel="label" [checkmark]="true" 
                                    [class.invalid-select]="errorMap.get('organization') != undefined"
                                    pTooltip="The organization under which the resource is to be registered" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200"/>
                                <label for="org">{{organizationSelector.label}} *</label>
                            </p-floatlabel>
                            <p *ngIf="errorMap.get('organization')" style="color: var(--danger-color);" class="m-0 p-0 text-xs font-italic">{{errorMap.get('organization')}}</p>
                        </div>

                        <div>
                            <p-floatlabel variant="on" class="custom-floatlabel">
                                <p-select [options]="divisionSelector.tags" [(ngModel)]="material.division" class="w-full custom-select" 
                                    [disabled]="divisionSelector.tags.length == 0" [checkmark]="true" inputId="division"
                                    pTooltip="The organization division under which the resource is to be registered" 
                                    tooltipPosition="right" showDelay="200" hideDelay="200"/>
                                <label for="division">{{divisionSelector.label}}</label>
                            </p-floatlabel>
                        </div>
                        
                    </div>
                    <div class="flex justify-content-between mt-3">
                        <p-button class="custom-secondary-button" label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(3)" />
                        <p-button class="custom-button" label="Submit" (onClick)="submitMaterial()"/>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-panels>
    </p-stepper>
</div>