<p-card [style]="{ width: '19rem', height: '27.5rem', overflow: 'auto'}" class="custom-color">
    <ng-template #header>
        <a class="image-container" href="/{{trainingMaterial._id}}" target="_self" (click)="onClickTitle($event)">
            <img src="{{trainingMaterial.image == '' ? imagePlaceholder : trainingMaterial.image}}" alt="Image" />
            <div class="overlay"><i class="pi pi-link"></i></div>
        </a>
    </ng-template>
    <ng-template #title>
        <div class="overflow-hidden" style="max-height: 3.25rem;">
            <a class="card-title" href="/{{trainingMaterial._id}}" target="_self" (click)="onClickTitle($event)" 
                [pTooltip]="showTooltip ? trainingMaterial.title : ''" tooltipPosition="top" tooltipStyleClass="large-tooltip">
                <strong #titleRef class="text-overflow-multiline">{{trainingMaterial.title}}</strong>
            </a>
        </div>
    </ng-template>
    <ng-template #subtitle>
        <div class="text-sm">
            <strong>Created:</strong> {{trainingMaterial.created?.toLocaleDateString()}}
        </div>
    </ng-template>
    <div #container class="mt-2 h-4rem overflow-hidden">
        <div #subjects class="flex align-items-start align-items-center gap-2 flex-wrap">
            <ng-content *ngFor="let concept of visibleConcepts">
                <div [pTooltip]="selectedConceptsTooltip.get(concept)" tooltipPosition="top" [tooltipStyleClass]="getTooltipClass(selectedConceptsTooltip.get(concept) ?? '')">
                    <p-tag [value]="concept" [rounded]="true" class="white-space-nowrap custom-tag" [style.background]="selectedConceptsColor.get(concept)" (click)="onClickConcept(concept)" />
                </div>
            </ng-content>
            <i *ngIf="overflow" class="pi pi-chevron-circle-down more-tag" (click)="op.toggle($event)"></i>
        </div>
    </div>
    <ng-template #footer>
        <p-divider class="mt-2"/>
        <div class="flex align-items-end gap-2 flex-nowrap white-space-nowrap">
            <div class="text-sm"><strong>{{trainingMaterial.language ?? 'Undefined'}}</strong></div>
            |
            <div class="text-sm"><strong>EQF: {{trainingMaterial.educationLevel}}</strong></div>
            |
            <div class="text-sm overflow-hidden text-overflow-ellipsis"><strong>Training Material</strong></div>
        </div>
    </ng-template>
</p-card>

<p-popover #op>
    <div class="flex align-items-center gap-2 my-2 flex-wrap max-w-10rem">
        <ng-content *ngFor="let concept of concepts">
            <div [pTooltip]="selectedConceptsTooltip.get(concept)" tooltipPosition="top" [tooltipStyleClass]="getTooltipClass(selectedConceptsTooltip.get(concept) ?? '')">
                <p-tag [value]="concept" [rounded]="true" class="white-space-nowrap custom-tag" [style.background]="selectedConceptsColor.get(concept)" (click)="onClickConcept(concept)" />
            </div>
        </ng-content>
    </div>
</p-popover>