<div *ngIf="material; else spinner" class="flex flex-column md:flex-row justify-content-between md:gap-4">
    <div class="flex flex-column overflow-auto flex-auto">
        <h1 class="mb-2">{{material.title}}</h1>
        <div class="flex align-items-end gap-2 flex-wrap white-space-nowrap mb-2">
            <div class="text-sm"><strong>Language:</strong> {{material.language ?? 'Undefined'}}</div>
            |
            <div class="text-sm"><strong>EQF Level:</strong> {{material.educationLevel}}</div>
            |
            <div class="text-sm overflow-hidden text-overflow-ellipsis"><strong>Material Type:</strong> {{material.materialType?.toUpperCase() ?? 'Undefined'}}</div>
            |
            <div class="text-sm"><strong>Created:</strong> {{material.created?.toLocaleDateString()}}</div>
            |
            <div class="text-sm overflow-hidden text-overflow-ellipsis">
                <a href="{{material.url}}" target="_blank" class="icon-link">
                    <i class="pi pi-external-link"></i>
                </a>
            </div>
        </div>
        <div style="color: var(--secondary-color);" class="my-2">{{this.material.creators.join(', ') || ""}}</div>
        <p-tabs value="0" scrollable class="custom-tabs mb-2">
            <p-tablist>
                <p-tab value="0">Table of Contents</p-tab>
                <p-tab value="1">Description</p-tab>
                <p-tab value="2">Material Detail</p-tab>
                <p-tab value="3">Additional Information</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                    <ul class="m-0 mb-2">
                        <li *ngFor="let content of material.tableOfContents">
                            {{content}}
                        </li>
                    </ul>
                </p-tabpanel>
                <p-tabpanel value="1">
                    <div class="mb-2">
                        {{material.description}}
                        {{material.abstract}}
                    </div>
                </p-tabpanel>
                <p-tabpanel value="2">
                    <div class="mb-2"><strong>Size or Duration:</strong> {{material.SizeOrDuration}} Hours</div>
                    <div class="mb-2"><strong>Language:</strong> {{material.language}}</div>
                    <div class="mb-2">
                        <strong>Material Format:</strong>
                        <ul>
                            <li *ngFor="let format of material.materialFormat">
                                {{format}}
                            </li>
                        </ul>
                    </div>
                    <div class="mb-2">
                        <strong>Prerequisites:</strong>
                        <ul>
                            <li *ngFor="let requisite of material.prerequisites">
                                {{requisite}}
                            </li>
                        </ul>
                    </div>
                    <div class="mb-2">
                        <strong>Learning Outcomes:</strong>
                        <ul>
                            <li *ngFor="let outcome of material.learningOutcomes">
                                {{outcome}}
                            </li>
                        </ul>
                    </div>
                    
                </p-tabpanel>
                <p-tabpanel value="3">
                    <div class="mb-2"><strong>Publisher:</strong> {{material.publisher}}</div>
                    <div class="mb-2"><strong>Audience:</strong> {{material.audience}}</div>
                    <div class="mb-2"><strong>Certification:</strong> {{material.certification}}</div>
                    <div class="mb-2"><strong>License:</strong> {{material.license ?? 'Not specified'}}</div>
                    <div class="mb-2"><strong>Organization:</strong> {{material.orgName ?? 'Not specified'}}</div>
                    <div class="mb-2"><strong>Division:</strong> {{material.division ?? 'Not specified'}}</div>
                  </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
        <div class="hidden md:flex justify-content-between mb-2 mt-auto">
            <p-button label="Homepage" icon="pi pi-home" class="custom-button" (onClick)="goToMainPage()"></p-button>
            <p-button label="Edit Material" icon="pi pi-pencil" class="custom-button" (onClick)="editMaterial()" *ngIf="checkUser()"></p-button>
        </div>
    </div>
    <div class="flex flex-column image-column">

        <img src="{{material.image}}" alt="Image" class="hidden md:inline rounded-image mt-3"/>

        <p-panel [header]="'BoK Concepts (' + currentConcepts.length + ')'" toggleable="true" [collapsed]="currentConcepts.length > 12" class="my-2 custom-panel">            
            <div class="flex align-items-start align-items-center gap-2 flex-wrap">
                <ng-content *ngFor="let concept of currentConcepts">
                    <p-tag [value]="'[' + concept + '] ' + selectedConceptsTooltip.get(concept)" [rounded]="true" class="xs:white-space-nowrap bok-tag"
                        [style.background]="selectedConceptsColor.get(concept)" (click)="onClickConcept(concept)" />
                </ng-content>
            </div>
        </p-panel>
        <p-panel *ngIf="deprecatedConcepts.length > 0" [header]="'Deprecated BoK Concepts (' + deprecatedConcepts.length + ')'" toggleable="true" collapsed="true" class="my-2 custom-panel">            
            <div class="text-xs mb-3" style="color: var(--danger-color);">*These are obsolete concepts, so they are not present in the current version of the Bok.</div>
            <div class="flex align-items-start align-items-center gap-2 flex-wrap">
                <ng-content *ngFor="let concept of deprecatedConcepts">
                    <p-tag [value]="concept" [rounded]="true" class="xs:white-space-nowrap bok-tag" [style.background]="selectedConceptsColor.get(concept)"
                        (click)="onClickConcept(concept)" />
                </ng-content>
            </div>
        </p-panel>
        <p-panel [header]="'Subjects (' + material.subject.length + ')'" toggleable="true" collapsed="true" class="my-2 custom-panel">
            <div class="flex align-items-start align-items-center gap-2 flex-wrap">
                <ng-content *ngFor="let subject of material.subject">
                    <p-tag [value]="subject" [rounded]="true" class="xs:white-space-nowrap custom-tag" [style.background]="'var(--primary-color)'" />
                </ng-content>
            </div>
        </p-panel>
        <p-button label="Edit Material" icon="pi pi-pencil" class="md:hidden flex justify-content-center custom-button my-2" (onClick)="editMaterial()" *ngIf="checkUser()"></p-button>
        <p-button label="Homepage" icon="pi pi-home" class="flex md:hidden justify-content-center custom-button my-2" (onClick)="goToMainPage()"></p-button>
    </div>
</div>

<ng-template #spinner>
    <div class="flex justify-content-center align-content-center h-screen">
        <p-progress-spinner strokeWidth="3" ariaLabel="loading" class="flex align-items-center justify-content-center" />
    </div>
</ng-template>