<p-toast class="custom-toast" position="bottom-right"/>
<p-confirmdialog />
<div *ngIf="material; else spinner" class="flex flex-column md:flex-row justify-content-between md:gap-4">
    <div class="flex flex-column overflow-auto flex-auto">
        <h1 class="mb-2">
            {{material.title}} 
            <a class="icon-link text-sm align-items-center mx-1 cursor-pointer font-normal" (click)="copyURIToClipboard()">
                Permalink
                <i class="pi pi-clone text-sm mx-1"></i>
            </a>
        </h1>
        <div class="flex align-items-center gap-2 flex-wrap white-space-nowrap mb-2">
            <div class="text-sm"><strong>Language:</strong> {{material.language ?? '-'}}</div>
            |
            <div class="text-sm" tooltipPosition="bottom" tooltipStyleClass="large-tooltip"
                pTooltip="The European Qualifications Framework. Indicates level of knowledge from 1 to 8">
                <strong>EQF Level:</strong> {{material.educationLevel.length > 0 ? material.educationLevel : '-'}}
            </div>
            |
            <div class="text-sm" tooltipPosition="bottom" tooltipStyleClass="large-tooltip"
                [pTooltip]="material.workloadUnit == 'ECTS' ? 
                    'Amount of time expected to invest, quantified using ECTS (1 ECTS = +/- 25 hours)'
                    :
                    'Amount of time expected to invest, quantified using hours'">
                <strong>Workload:</strong> {{material.workload ?? '-'}} {{material.workloadUnit}}
            </div>
            |
            <div class="text-sm"><strong>Provided by:</strong> {{material.publisher != '' ? material.publisher : '-'}}</div>
            |
            <div class="text-sm"><strong>Created:</strong> {{material.created?.toLocaleDateString('en-UK')}}</div>
            |
            @if(material.updatedAt != undefined) {
                <div class="text-sm"><strong>Last Updated:</strong> {{material.updatedAt.toLocaleDateString('en-UK')}}</div>
                |
            }
            <div class="text-sm"><strong>Visibility:</strong> {{material.isPublic ? 'Public' : 'Private'}}</div>
            |
            <div class="text-sm"><strong>Published by:</strong> {{material.division ? material.orgName + ' - ' + material.division : material.orgName}}</div>
            |
            @if(material.url != '') {
                <a class="icon-link text-sm align-items-center mx-1" href="{{material.url}}" target="_blank">
                    Go to Material
                    <i class="pi pi-external-link text-sm mx-1"></i>
                </a>
                |
            }
            <a class="icon-link text-sm align-items-center mx-1 cursor-pointer" (click)="toggle($event)">
                Download
                <i class="pi pi-download text-sm mx-1"></i>
            </a>
            <p-popover #op>
                <div style="color: var(--primary-color)">
                    <span class="font-medium block mb-2"><strong>Choose a Format</strong></span>
                    <ul class="p-0 m-0 flex flex-column">
                        <li class="flex items-center gap-2 px-2 py-2 cursor-pointer popover-element" (click)="downloadMaterialPDF()">
                            <span class="font-medium">PDF</span>
                        </li>
                        <li class="flex items-center gap-2 px-2 py-2 cursor-pointer popover-element" (click)="downloadMaterialRDFa()">
                            <span class="font-medium">RDFa</span>
                        </li>
                        <li class="flex items-center gap-2 px-2 py-2 cursor-pointer popover-element" (click)="downloadMaterialXML()">
                            <span class="font-medium">RDF/XML</span>
                        </li>
                        <li class="flex items-center gap-2 px-2 py-2 cursor-pointer popover-element" (click)="downloadMaterialTTL()">
                            <span class="font-medium">Turtle</span>
                        </li>
                    </ul>
                </div>
            </p-popover>
        </div>
        <div style="color: var(--primary-color);" class="my-2 font-italic">{{this.material.creators.join(', ') || ""}}</div>
        <p-tabs value="0" scrollable class="custom-tabs mb-2">
            <p-tablist>
                <p-tab value="0">Description</p-tab>
                <p-tab value="1">Table of Contents</p-tab>
                <p-tab value="2">Material Detail</p-tab>
                <p-tab value="3">Additional Information</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                    <div class="mb-2 text-justify">
                        <ng-content *ngIf="material.abstract && material.abstract != ''">
                            {{material.abstract}}
                            <br><br>
                        </ng-content>
                        {{material.description}}
                    </div>
                </p-tabpanel>
                <p-tabpanel value="1">
                    <ul class="m-0 mb-2">
                        <li *ngFor="let content of material.tableOfContents">
                            {{content}}
                        </li>
                    </ul>
                </p-tabpanel>
                <p-tabpanel value="2">
                    <div class="mb-2"><strong>Interactivity Type:</strong> {{material.interactivityType}}</div>
                    <div class="mb-2">
                        <strong>Training Material Type:</strong>
                        <ul *ngIf="material.materialType.length > 0">
                            <li *ngFor="let type of material.materialType">
                                {{type}}
                            </li>
                        </ul>
                    </div>
                    <div class="mb-2">
                        <strong>Prerequisites:</strong>
                        <ul *ngIf="material.prerequisites.length > 0">
                            <li *ngFor="let requisite of material.prerequisites">
                                {{requisite}}
                            </li>
                        </ul>
                    </div>
                    <div class="mb-2">
                        <strong>Learning Outcomes:</strong>
                        <ul *ngIf="material.learningOutcomes.length > 0">
                            <li *ngFor="let outcome of material.learningOutcomes">
                                {{outcome}}
                            </li>
                        </ul>
                    </div>
                    <div class="mb-2">
                        <strong>Type of Assessment:</strong>
                        <ul *ngIf="material.assessment.length > 0">
                            <li *ngFor="let assessmentType of material.assessment">
                                {{assessmentType}}
                            </li>
                        </ul>
                    </div>
                </p-tabpanel>
                <p-tabpanel value="3">
                    <div class="mb-2"><strong>License:</strong> {{material.license ?? 'Not specified'}}</div>
                    <div class="mb-2">
                        <strong>Contributors:</strong>
                        {{this.material.contributors.join(', ') || ""}}
                    </div>
                    <div class="mb-2 text-justify">
                        <strong>Source/s:</strong>
                        <div class="my-2">{{material.source}}</div>
                    </div>
                    <div class="mb-2">
                        <strong>Audience:</strong>
                        <ul *ngIf="material.audience.length > 0">
                            <li *ngFor="let audience of material.audience">
                                {{audience}}
                            </li>
                        </ul>
                    </div>
                  </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
        <div class="hidden md:flex justify-content-between mb-2 mt-auto">
            <p-button label="Return to Homepage" severity="secondary" icon="pi pi-arrow-left" class="custom-secondary-button" (onClick)="goToMainPage()"></p-button>
            <div class="flex flex-wrap gap-2">
                <p-button label="Edit Material" icon="pi pi-pencil" class="custom-button" (onClick)="editMaterial()" *ngIf="checkUser() || checkOrganizations()"></p-button>
                <p-button label="Delete Material" icon="pi pi-trash" class="delete-button" (onClick)="deleteModal($event)" *ngIf="checkUser() || checkOrganizations()"></p-button>
            </div>
        </div>
    </div>
    <div class="flex flex-column image-column">

        <img src="{{material.image != '' ? material.image : imagePlaceholder}}" alt="Image" class="hidden md:inline rounded-image mt-3" (error)="onImageError($event)"/>

        <p-panel #subjectsPanel [header]="'Subjects (' + material.subject.length + ')'" class="my-2 custom-panel">
            <skill-tags [tags]="knowledgeAreas.concat(customSubjects)" [compactBoKTags]="false"></skill-tags>
        </p-panel>
        <p-panel #conceptsPanel [header]="'Knowledge (' + currentConcepts.length + ')'" toggleable="true" collapsed="true" class="my-2 custom-panel">
            <ng-template #headericons>
                <p-button *ngIf="!conceptsPanel.collapsed" icon="pi pi-chevron-up" severity="secondary" rounded text/>
                <p-button *ngIf="conceptsPanel.collapsed" icon="pi pi-chevron-down" severity="secondary" rounded text/>
            </ng-template>      
            <skill-tags [tags]="currentConcepts" [compactBoKTags]="false"></skill-tags>
        </p-panel>
        <p-button label="Edit Material" icon="pi pi-pencil" class="md:hidden flex justify-content-center custom-button my-2" (onClick)="editMaterial()" *ngIf="checkUser() || checkOrganizations()"></p-button>
        <p-button label="Delete Material" icon="pi pi-trash" class="flex md:hidden justify-content-center delete-button my-2" (onClick)="deleteModal($event)" *ngIf="checkUser() || checkOrganizations()"></p-button>
        <p-button label="Return to Homepage" severity="secondary" icon="pi pi-arrow-left" class="flex md:hidden justify-content-center custom-secondary-button my-2" (onClick)="goToMainPage()"></p-button>
    </div>
</div>

<ng-template #spinner>
    <div class="flex justify-content-center align-content-center h-screen">
        <p-progress-spinner strokeWidth="3" ariaLabel="loading" class="flex align-items-center justify-content-center" />
    </div>
</ng-template>