.custom-floatlabel {
    --p-floatlabel-focus-color: var(--hover-color);
}

.invalid-floatlabel {
    --p-floatlabel-color: var(--danger-color);
    --p-floatlabel-active-color: var(--danger-color);
}

.custom-button {
    --p-button-primary-color: white;
    --p-button-primary-background: var(--secondary-color);
    --p-button-primary-border-color: var(--secondary-color);
    --p-button-primary-hover-background: var(--hover-color);
    --p-button-primary-hover-border-color: var(--hover-color);
    --p-button-primary-focus-ring-color: var(--secondary-color);
    --p-button-primary-active-background: color-mix(in srgb, var(--hover-color) 80%, black 20%);
    --p-button-primary-active-border-color: color-mix(in srgb, var(--hover-color) 90%, black 10%);
}

.custom-border {
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(18, 18, 23, 0.05) 0px 1px 2px 0px;
    transition: border-color 0.2s;
}

.custom-border-error {
    border-color: var(--danger-color);
}

.custom-border:hover {
    border-color: var(--hover-color);
}

.custom-chip {
    --p-chip-color:var(--primary-color);
    --p-chip-remove-icon-color:var(--primary-color);
    --p-chip-remove-icon-focus-ring-color: var(--primary-color);
}

.custom-select {
    --p-select-hover-border-color: var(--hover-color);
    --p-select-focus-border-color: var(--hover-color);

    --p-inputtext-focus-border-color: var(--hover-color);
    --p-inputtext-hover-border-color: var(--hover-color);
}

.invalid-select {
    --p-select-border-color: var(--danger-color);
    --p-select-dropdown-color: var(--danger-color);
}