<p-toast class="custom-toast" position="bottom-right"/>
<div #container class="flex flex-column xl:flex-row gap-4 m-2">
    <filters [(multiSelectOptions)]="filterOptions" [(advancedMultiSelectOptions)]="advancedFilterOptions" [loading]="loading" 
        (multiSelectOptionsChange)="filterPipeline()" (advancedMultiSelectOptionsChange)="filterPipeline()" [filterUserItemOptions]="filterUserItemOptions"
        [searchValue]="searchValue" (searchValueChange)="setSearchValue($event)" [selectedOption]="searchOption" (selectedOptionChange)="setSearchOption($event)"
        [bokConcepts]="bokConcepts" (bokConceptsChange)="setBoKConcepts($event)" [filterUserItem]="filterByUserItem" (filterUserItemChange)="setFilterByUserMaterial($event)" 
        [logged]="isLogged()" [showAdvancedFilters]="showAdvancedFilters" (showAdvancedFiltersChange)="setShowAdvancedFilters($event)" class="flex justify-content-center"></filters>
    <div class="w-full">
        <p-tabs [value]="selectedTab" (valueChange)="setSelectedTab($event)" class="w-full custom-tabs mb-4" style="margin-top: 0.20rem;" scrollable>
            <p-tablist>
                <ng-container *ngFor="let tab of tabs; trackBy: trackById">
                    <p-tab [value]="tab.id" [disabled]="tab.disabled" class="flex items-center !gap-2 text-inherit">
                        <i [class]="tab.icon"></i>
                        <span>{{ tab.label }}</span>
                    </p-tab>
                </ng-container>
                <p-buttongroup class="ml-auto align-self-center">
                    <p-button severity="secondary" (click)="switchSortOrientation()" [icon]="sortAsc ? 'pi pi-sort-amount-up' : 'pi pi-sort-amount-down'" size="small" [label]="'Order By ' + selectedSortOption" class="custom-secondary-button"/>
                    <p-button severity="secondary" (click)="menu.toggle($event)" icon="pi pi-chevron-down" class="flex custom-secondary-button" size="small"/>
                </p-buttongroup>
            </p-tablist>
        </p-tabs>
        <div *ngIf="filteredTrainingItems.length != 0 || loading" class="flex flex-column mt-2">
            <div class="flex gap-5 flex-wrap align-content-start justify-content-center mb-4">
                <ng-container *ngIf="!showSkeleton else cardSkeleton">
                    <ng-container *ngFor="let item of paginationTrainingItems; trackBy: trackById">
                        <card [trainingItem]="item"></card>
                    </ng-container>
                </ng-container>
            </div>
            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="filteredTrainingItems.length" class="custom-paginator"/>
        </div>
        <p *ngIf="filteredTrainingItems.length == 0 && !loading" class="font-italic flex mx-auto justify-content-center">No {{selectedTab === 0 ? 'material' : 'action'}} found</p>
    </div>
</div>
<div class="floating-container flex flex-column gap-2 align-items-end" [ngStyle]="{ bottom: buttonBottom + 'px' }">
    <p-button *ngIf="isLogged() && showButton" (click)="createTrainingItem()" icon="pi pi-plus" label="Add {{selectedTab === 0 ? 'Material' : 'Action'}}" class="custom-button floating-button"/>
</div>
<p-menu #menu [model]="sortOptions" popup styleClass="!min-w-fit" class="custom-menu">
    <ng-template #item let-item>
        <a pRipple class="flex items-center p-menu-item-link" (click)="setSortOption(item.label)">
            <i class="w-1rem" [ngClass]="item.label == selectedSortOption ? 'pi pi-check' : ''"></i>
            <span class="ml-2">{{ item.label }}</span>
        </a>
    </ng-template>
</p-menu>

<ng-template #cardSkeleton>
    <ng-content *ngFor="let i of skeletonElements">
        <p-skeleton width="19rem" height="27.5rem" class="custom-skeleton" />
    </ng-content>
</ng-template>

