<div class="flex flex-column xl:flex-row h-full xl:w-23rem">
    <div class="mx-2">
        <h2>Filters</h2>
        <p-divider class="flex-grow-1"/>
        <div class="my-4">
            <p-selectbutton [(ngModel)]="filterUserMaterial" [options]="filterUserMaterialOptions" class="custom-togglebutton" 
                            optionLabel="label" optionValue="value" (ngModelChange)="updateFilterUserMaterial()" *ngIf="logged">
                <ng-template #item let-item>
                    <div class="row">
                        <i [class]="item.icon"></i>
                        {{item.label}}
                    </div>
                </ng-template>
            </p-selectbutton>
        </div>
        <div class="my-4">
            Search by {{selectedOption}}
            <p-inputgroup class="w-21rem">
                <input type="text" pInputText [(ngModel)]="searchValue" (ngModelChange)="updateSearchValue()" 
                    placeholder="Search" class="custom-input" [disabled]="loading"/>
                <p-inputgroup-addon [class]="loading ? 'disabled-addon' : ''">
                    <p-button class="input-button" icon="pi pi-chevron-down" severity="secondary" variant="text" (click)="menu.toggle($event)" [disabled]="loading"/>
                </p-inputgroup-addon>
            </p-inputgroup>
            <p-menu #menu [model]="searchOptions" popup styleClass="!min-w-fit" class="custom-menu">
                <ng-template #item let-item>
                    <a pRipple class="flex items-center p-menu-item-link" (click)="setSearchOption(item.label)">
                        <i class="w-1rem" [ngClass]="item.label == selectedOption ? 'pi pi-check' : ''"></i>
                        <span class="ml-2">{{ item.label }}</span>
                    </a>
                </ng-template>
            </p-menu>
        </div>
        <ng-container *ngFor="let option of multiSelectOptions">
            <div class="flex flex-column my-4">
                <div class="flex align-items-center">
                    {{option.label}}
                    <i *ngIf="option.tootltip" [pTooltip]="option.tootltip" tooltipPosition="right" class="ml-2 pi pi-info-circle"></i>
                </div>
                <p-multiselect [options]="option.tags" [(ngModel)]="option.selection" (ngModelChange)="updateOptions()" 
                    placeholder="Select {{option.label}}" class="mt-1 w-21rem custom-multiselect" panelStyleClass="max-w-21rem" [disabled]="loading" [showClear]="true"
                    (onClear)="clearOptions(option.label)" [maxSelectedLabels]="1"/>
            </div>
        </ng-container>
        <ng-container *ngFor="let option of advancedMultiSelectOptions">
            <div class="flex flex-column my-4">
                <div class="flex align-items-center">
                    {{option.label}}
                    <i *ngIf="option.tootltip" [pTooltip]="option.tootltip" tooltipPosition="right" class="ml-2 pi pi-info-circle"></i>
                </div>
                <p-multiselect [options]="option.tags" [(ngModel)]="option.selection" (ngModelChange)="updateAdvancedOptions()" 
                    placeholder="Select {{option.label}}" class="mt-1 w-21rem custom-multiselect" panelStyleClass="max-w-21rem" [disabled]="loading" [showClear]="true"
                    (onClear)="clearAdvancedOptions(option.label)" [maxSelectedLabels]="1"/>
            </div>
        </ng-container>
        <div class="my-4 max-w-21rem">
            <bokModal [selectedConcepts]="bokConcepts" (selectedConceptsChange)="bokConceptsChange.emit($event)" [disabled]="loading" [label]="'Filter by Annotated Knowledge'" [allowKnowledgeAreas]="false"></bokModal>
        </div>
    </div>
    <p-divider layout="vertical" class="flex-grow-1 hidden xl:flex"/>
    <p-divider class="flex xl:hidden"/>
</div>