::ng-deep .p-datepicker-clear-icon {
    cursor: pointer;
    flex-shrink: 0;
    background: transparent;
    color: var(--p-multiselect-clear-icon-color);
}

::ng-deep .p-multiselect-option span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-multiselect {
    --p-multiselect-focus-border-color: var(--hover-color);
    --p-multiselect-hover-border-color: var(--hover-color);

    --p-checkbox-checked-background: var(--secondary-color);
    --p-checkbox-checked-border-color: var(--secondary-color);
    --p-checkbox-checked-hover-background: var(--hover-color);
    --p-checkbox-checked-hover-border-color: var(--hover-color);
    --p-checkbox-checked-focus-border-color: var(--secondary-color);  
    --p-checkbox-focus-ring-color: var(--secondary-color);

    --p-inputtext-focus-border-color: var(--hover-color);
    --p-inputtext-hover-border-color: var(--hover-color);

    --p-multiselect-option-selected-color: var(--primary-color);
    --p-multiselect-option-selected-focus-color: var(--primary-color);
    --p-multiselect-option-selected-background: color-mix(in srgb, var(--secondary-color) 10%, rgba(0, 0, 0, 0) 90%);
    --p-multiselect-option-selected-focus-background: color-mix(in srgb, var(--secondary-color) 20%, rgba(0, 0, 0, 0) 80%);

}

.custom-input {
    --p-inputtext-focus-border-color: var(--hover-color);
    --p-inputtext-hover-border-color: var(--hover-color);
}

.custom-togglebutton {
    --p-togglebutton-checked-color: var(--primary-color);
    --p-togglebutton-icon-checked-color: var(--primary-color);
    --p-togglebutton-hover-color: var(--primary-color);
    --p-togglebutton-icon-hover-color: var(--primary-color);
}

.input-button {
   --p-button-text-secondary-color: var(--p-multiselect-dropdown-color);
}

.disabled-addon {
    opacity: 1;
    background: var(--p-inputtext-disabled-background);
    color: var(--p-inputtext-disabled-color);
}

.custom-link {
    text-decoration: none;
    color: var(--secondary-color);
    cursor: pointer;
}

.custom-link:hover {
    color: var(--hover-color);
}

::ng-deep .p-selectbutton {
    flex: auto;
}

::ng-deep p-togglebutton {
    flex: auto;
}

::ng-deep .p-togglebutton {
    flex: auto;
}