<p-dialog header="Release Notes" [modal]="true" [(visible)]="visible" (onHide)="visibleChange.emit(false)" [style]="{ width: '50rem', color: 'var(--primary-color)' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <h2>v1.00 - January 2022</h2>
    <ul>
        <li>Initial public release.</li>
        <li>Includes browsing, filtering, and detailed views of training resources and actions.</li>
        <li>Supports user authentication and role-based access for organizations.</li>
        <li>Integrated link to the Space Body of Knowledge (BoK) for concept tagging.</li>
        <li>Added user guide</li>
    </ul>
</p-dialog>
