<p-toast class="custom-toast" position="bottom-right"/>
<div #container class="flex flex-column xl:flex-row gap-4 m-2">
    <filters [(multiSelectOptions)]="filterOptions" [(advancedMultiSelectOptions)]="advancedFilterOptions" [loading]="loading" (multiSelectOptionsChange)="filterTrainingMaterial()" 
        (searchValueChange)="searchTrainingMaterial($event)" class="flex justify-content-center" (bokConceptsChange)="filterByBoKConcept($event)" (advancedMultiSelectOptionsChange)="filterTrainingMaterial()" 
        (filterUserMaterialChange)="filterByUserMaterialChange($event)" [logged]="isLogged()" [selectedOption]="searchOption" (selectedOptionChange)="setSearchOption($event)"></filters>
    <p-tabs [value]="0" class="w-full custom-tabs" style="margin-top: 0.20rem;">
        <p-tablist>
            @for(tab of tabs; track tab.id){
                <p-tab [value]="tab.id" [disabled]="tab.disabled" class="flex items-center !gap-2 text-inherit">
                    <i [class]="tab.icon"></i>
                    <span>{{ tab.label }}</span>
                </p-tab>
            }
            <p-buttongroup class="ml-auto align-self-center">
                <p-button severity="secondary" (click)="switchSortOrientation()" [icon]="sortAsc ? 'pi pi-sort-amount-up' : 'pi pi-sort-amount-down'" size="small" [label]="'Order By ' + selectedSortOption" class="custom-secondary-button"/>
                <p-button severity="secondary" (click)="menu.toggle($event)" icon="pi pi-chevron-down" class="flex custom-secondary-button" size="small"/>
            </p-buttongroup>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel [value]="0">
                <div *ngIf="finalTrainingMaterial.length != 0 || loading" class="flex flex-column w-full mt-2 justify-content-between">
                    <div class="flex gap-5 flex-wrap align-content-start justify-content-center xl:justify-content-start mb-4">
                        <ng-container *ngIf="!loading else cardSkeleton">
                            <ng-container *ngFor="let material of paginationTrainingMaterial">
                                <card [trainingMaterial]="material"></card>
                            </ng-container >
                        </ng-container>
                    </div>
                    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="finalTrainingMaterial.length" class="custom-paginator"/>
                </div>
                <p *ngIf="finalTrainingMaterial.length == 0 && !loading" class="font-italic flex mx-auto justify-content-center">No material found</p>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>
<div class="floating-container flex flex-column gap-2 align-items-end" [ngStyle]="{ bottom: buttonBottom + 'px' }">
    <p-button *ngIf="isLogged() && showButton" (click)="createTrainingMaterial()" icon="pi pi-plus" label="Add Material" class="custom-button floating-button"/>
</div>
<p-menu #menu [model]="sortOptions" popup styleClass="!min-w-fit" class="custom-menu">
    <ng-template #item let-item>
        <a pRipple class="flex items-center p-menu-item-link" (click)="setSortOption(item.label)">
            <i class="w-1rem" [ngClass]="item.label == selectedSortOption ? 'pi pi-check' : ''"></i>
            <span class="ml-2">{{ item.label }}</span>
        </a>
    </ng-template>
</p-menu>

<ng-template #cardSkeleton>
    <ng-content *ngFor="let i of skelletonElements">
        <p-skeleton width="19rem" height="27.5rem" class="custom-skeleton" />
    </ng-content>
</ng-template>

