<div class="flex flex-column xl:flex-row gap-5 m-2">
    <filters [(multiSelectOptions)]="filterOptions" [loading]="loading" (multiSelectOptionsChange)="filterTrainingMaterial()" 
        (searchValueChange)="searchTrainingMaterial($event)" class="flex justify-content-center" (bokConceptsChange)="filterByBoKConcept($event)"
        [(multiSelectUserOptions)]="userFilterOptions" (multiSelectUserOptionsChange)="filterTrainingMaterial()" 
        (filterUserMaterialChange)="filterByUserMaterialChange($event)" [logged]="isLogged()"></filters>
    <div class="flex gap-5 flex-wrap align-content-start">
        <ng-container *ngIf="!loading else cardSkeleton">
            <ng-container *ngFor="let material of finalTrainingMaterial">
                <card [trainingMaterial]="material"></card>
            </ng-container >
        </ng-container>
    </div>
    <p *ngIf="finalTrainingMaterial.length == 0 && !loading" class="font-italic flex mx-auto justify-content-center">No material found</p>
</div>
<p-scrolltop class="scroll-top"/>

<ng-template #cardSkeleton>
    <ng-content *ngFor="let i of skelletonElements">
        <p-skeleton width="19rem" height="27.5rem" class="custom-skeleton" />
    </ng-content>
</ng-template>

