.custom-skeleton {
    border-radius: 12px;
    --p-skeleton-border-radius: 12px;
    box-shadow: var(--p-card-shadow);
}

.scroll-top {
    --p-button-primary-background: var(--secondary-color);
    --p-button-primary-border-color: var(--secondary-color);
    --p-button-primary-hover-background: var(--hover-color);
    --p-button-primary-hover-border-color: var(--hover-color);
}