<p-toast class="custom-toast" position="bottom-right"/>
<div #container class="flex flex-column xl:flex-row gap-5 m-2">
    <filters [(multiSelectOptions)]="filterOptions" [loading]="loading" (multiSelectOptionsChange)="filterTrainingMaterial()" 
        (searchValueChange)="searchTrainingMaterial($event)" class="flex justify-content-center" (bokConceptsChange)="filterByBoKConcept($event)" 
        (filterUserMaterialChange)="filterByUserMaterialChange($event)" [logged]="isLogged()" [selectedOption]="searchOption" (selectedOptionChange)="setSearchOption($event)"></filters>
    <div *ngIf="finalTrainingMaterial.length != 0 || loading" class="flex flex-column w-full justify-content-between">
        <div class="flex gap-5 flex-wrap align-content-start justify-content-center xl:justify-content-start mb-4">
            <ng-container *ngIf="!loading else cardSkeleton">
                <ng-container *ngFor="let material of paginationTrainingMaterial">
                    <card [trainingMaterial]="material"></card>
                </ng-container >
            </ng-container>
        </div>
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="finalTrainingMaterial.length" [rowsPerPageOptions]="[8, 16, 24]" class="custom-paginator"/>
    </div>
    <p *ngIf="finalTrainingMaterial.length == 0 && !loading" class="font-italic flex mx-auto justify-content-center">No material found</p>
</div>
<p-button *ngIf="isLogged() && showButton" (click)="createTrainingMaterial()" icon="pi pi-plus" label="Add Material" class="custom-button floating-button" [ngStyle]="{ bottom: buttonBottom + 'px' }"/>

<ng-template #cardSkeleton>
    <ng-content *ngFor="let i of skelletonElements">
        <p-skeleton width="19rem" height="27.5rem" class="custom-skeleton" />
    </ng-content>
</ng-template>

